<div class="container">
  <h4>Product Rating</h4>
  <div class="top">
    <div class="stars">
      <p><span class="stars-value">{{currentRate}}</span> out of 5</p>

      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

    </div>
    <div class="options">
      <button class="active">All</button>
      <button>5 ⭐ ({{s5}})</button>
      <button>4 ⭐ ({{s4}})</button>
      <button>3 ⭐ ({{s3}})</button>
      <button>2 ⭐ ({{s2}})</button>
      <button>1 ⭐ ({{s1}})</button>
    </div>
  </div>
  <div *ngFor="let c of comment; let i=index" class="comments-container">
    <div class="comment">
      <div class="profile-pic"><img src="{{c.profilePic}}" alt=""></div>
      <div class="comment-details">
        <div class="comment-details-top">
          <div>
            <p class="username">{{c.username}}</p>
            <div class="user-rating">
              <div [ngSwitch]="c.rating">
                <p *ngSwitchCase="1">⭐</p>
                <p *ngSwitchCase="2">⭐⭐</p>
                <p *ngSwitchCase="3">⭐⭐⭐</p>
                <p *ngSwitchCase="4">⭐⭐⭐⭐</p>
                <p *ngSwitchCase="5">⭐⭐⭐⭐⭐</p>
              </div>
            </div>
          </div>
          <div class="vl"></div>
          <div class="date-and-time">
            <span>{{c.dateTime}}</span>
            <span>Variation: {{c.variation}}</span>
          </div>
        </div>
        <p>{{c.comment}}</p>
        <!-- <div class="media">
          <img style="width:80px;" src="../../../../assets/img/discountedProducts/addidas-shoes/blue.png" alt="media">
        </div> -->
        <!-- <div class="report">
          <lord-icon class="report-btn" src="https://cdn.lordicon.com/rslnizbt.json" trigger="loop-on-hover"
            style="width:32px;height:32px">
          </lord-icon>
        </div> -->
      </div>
    </div>
    <div class="report">
      <lord-icon class="report-btn" src="https://cdn.lordicon.com/rslnizbt.json" trigger="loop-on-hover"
        style="width:32px;height:32px">
      </lord-icon>
    </div>
    <hr style="margin-top: 25px;">
  </div>
  
</div>
