<div class="search-box">
  <div class="search-icon">
    <!-- <i class="fa fa-search search-icon"></i> -->
    <!-- <span class="material-symbols-outlined">
        search
        </span> -->
    <img src="../../../../assets/img/search.png" alt="search-icon">
  </div>
  <form action="" class="search-form">
    <input type="text" placeholder="Search" id="search" autocomplete="off" class="input-class">
  </form>
  <!-- insert click event to insert search function -->
  <div class="go-icon">
    <!-- <i class="fa fa-arrow-right"></i> -->
    <span class="material-symbols-outlined search-btn" (click)="test()">
      arrow_forward
    </span>
  </div>
</div>
