<app-header-normal></app-header-normal>

<section class="table-responsive">
  <div>
    <h4>Shopping Cart</h4>
  </div>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>
        </th>
        <th class="product-header">Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items; let i=index">
      <tr class="product-row">
        <th>
        </th>
        <td class="item-product">
          <div>
            <img class="cart-img" src="{{item.placeholderImg}}" alt="">
            {{item.title}} -
            {{item.variations}}
          </div>

        </td>
        <td>RM {{item.discountedPrice}} <span class="old-price">{{item.oldPrice}}</span></td>
        <td>
          <div class="quantity">
            <button (click)="addQuantity(item.id, i, item.discountedPrice)">
              <p>&#43;</p>
            </button>
            <span>{{item.quantity}}</span>
            <button (click)="minusQuantity(item.id,i, item.discountedPrice)">
              <p>&#8722;</p>
            </button>
          </div>
        </td>
        <td class="total-price">RM {{item.totalPrice}} </td>
        <td>
          <p class="del" (click)="removeItem(item.id)">Delete</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="stickBottom">
    <div>
      <div style="float: right;">
        <div class="voucher-cart-container">
          <div class="select-voucher">
            <h6>Vouchers</h6>
            <span class="voucherModalBtn" (click)="showModalDialog()">Select voucher ></span>
          </div>

          <div class="selectedVouchers" [hidden]="displayVouchersModal">
            <!-- display selected vouchers -->
            <p>{{feedback}}</p>
            <p>{{feedback1}}</p>
            <p>{{feedback2}}</p>
          </div>
        </div>
        <div class="discount-container">
          <h6>Discount Applied</h6>
          <p>RM {{discountsApplied}}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="left-bottom-panel">
        <button class="clearCart" (click)="clearCart()">Clear Cart</button>
        <button (click)="populateCart()">populate</button>
      </div>
      <div style="float: right;">
        <div style="display: flex; ">
          <p>Total ({{itemCount}} items) : </p>
          <p class="totalText"> &nbsp; RM {{total}}</p>
        </div>
        <div style="float: right;"><button class="checkoutBtn" (click)="goToCheckout()">Checkout</button></div>
      </div>


    </div>
  </div>

  <!-- voucher modal  -->
  <p-dialog header="Voucher" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <div class="voucherContainer">

      <div class="voucherMain" id="firstVoucher" (click)="selectVoucher('cashback')">
        <div class="voucherLeft">
          <h6>{{voucher0Title}}</h6>
        </div>
        <div class="voucherRight">
          <p>
            Mininum total of RM {{voucher0Min}}
          </p>
        </div>
        <div>
          <p class="voucherNotSelected" id="cashback">✔️</p>
        </div>
      </div>
      <div class="voucherMain" id="secondVoucher" (click)="selectVoucher('discount')">
        <div class="voucherLeft">
          <h6>{{voucher1Title}}</h6>
        </div>
        <div class="voucherRight">
          <p>
            Mininum total of RM {{voucher1Min}}
          </p>

        </div>
        <div>
          <p class="voucherNotSelected" id="discount">✔️</p>
        </div>


      </div>
      <div class="voucherMain" id="thirdVoucher" (click)="selectVoucher('freeShipping')">
        <div class="voucherLeft">
          <h6>{{voucher2Title}}</h6>
        </div>
        <div class="voucherRight">
          <p>
            Mininum total of RM {{voucher2Min}}
          </p>

        </div>
        <div>
          <p class="voucherNotSelected" id="freeShipping">✔️</p>
        </div>

      </div>
    </div>


    <ng-template pTemplate="footer">
      <button (click)="displayModal=false" class="cancelBtn">CANCEL</button>
      <button (click)="selectingVoucher()" class="okBtn">OK</button>
    </ng-template>
  </p-dialog>

  <c-toaster [placement]="position" position="fixed">
    <c-toast [visible]="visible" class="toastStyle">
      <c-toast-header class="toastHeader">
        <toast-sample-icon></toast-sample-icon>
        Success
      </c-toast-header>
      <c-toast-body>
        <p>{{feedback}}</p>
        <p>{{feedback1}}</p>
        <p>{{feedback2}}</p>
      </c-toast-body>
    </c-toast>
  </c-toaster>


</section>
