<app-header-normal></app-header-normal>

<section class="table-responsive">
  <div>
    <h4>Shopping Cart</h4>
  </div>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>
          <!--* simplify by not including check box due to bugs  -->
          <!-- https://www.bennadel.com/blog/3364-creating-a-direct-click-dom-event-plug-in-in-angular-4-4-6.htm#:~:text=Angular%20already%20has%20the%20ability,node%20within%20the%20given%20element. -->
          <!-- <div class="checkbox-container" >
            <div class="checkbox-border" (click)="checkAll()">
              <p class="tick" [ngClass]="checkbox">✓</p>
            </div>
          </div> -->
        </th>
        <th class="product-header">Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items; let i=index">
      <tr class="product-row">
        <th>
          <!--* simplify by not including check box due to bugs  -->
          <!-- <div class="checkbox-container" (click)="checkIndividual(i, $event)">
            <div class="checkbox-border" >
              <p class="tick" [ngStyle]="checkIndividualStyle" id="{{i}}">✓</p>
            </div>
          </div> -->
        </th>
        <td class="item-product">
          <div>
            <img class="cart-img" src="{{item.placeholderImg}}" alt="">
            {{item.title}}
          </div>

        </td>
        <td>RM {{item.discountedPrice}} <span class="old-price">{{item.oldPrice}}</span></td>
        <td>
          <div class="quantity">
            <button (click)="addQuantity(item.id, i, item.discountedPrice)">
              <p>&#43;</p>
            </button>
            <span>{{item.quantity}}</span>
            <button (click)="minusQuantity(item.id,i, item.discountedPrice)">
              <p>&#8722;</p>
            </button>
          </div>
        </td>
        <td class="total-price">RM {{item.totalPrice}} </td>
        <td >
          <p class="del" (click)="removeItem(item.id)">Delete</p></td>
      </tr>
    </tbody>
  </table>

  <div style="display: flex; flex-direction: column;">
    <div>
      <div style="float: right;">
        <div class="voucher-container">
          <h6>Vouchers</h6>
          <span class="voucherModalBtn" (click)="showModalDialog()">Select or enter voucher ></span>
        </div>
        <div class="discount-container">
          <h6>Discount Applied</h6>
          <p>RM {{discountsApplied}}</p>
        </div>
      </div>
    </div>

    <!-- <hr> -->
    <div>
      <!--* simplify by not including check box due to bugs  -->
      <!-- <div class="left-bottom-panel">
        <input class="checkbox-all" type="checkbox" id="allItems" name="allItems" value="allItems" (click)="checkAll()">
        <p>Select All ({{itemCount}})</p>
        <p>Delete</p>
      </div> -->
      <div class="left-bottom-panel">
        <button class="clearCart" (click)="clearCart()">Clear Cart</button>
        <button (click)="populateCart()">populate</button>
      </div>
      <div style="display: flex; float: right;">
        <p>Total ({{itemCount}} items) : </p>
        <p class="totalText"> &nbsp; RM {{total}}</p>
      </div>
    </div>
  </div>

  <!-- voucher modal  -->
  <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    
    <div>
      <div>
        left
      </div>
      <div>
        right
      </div>
    </div>
    
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>
      <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
    </ng-template>
  </p-dialog>

</section>
