<div [ngStyle]="style">
  <img src="https://thumbs.dreamstime.com/b/imitation-transparent-background-seamless-vector-illustration-69028332.jpg"
    alt="img" style="opacity: 0;">
  <div data-aos="fade-up" data-aos-duration="2000" class="left-panel">
    <img src="../../../../assets/img/banner/left.png" alt="left-panel">
  </div>

  <!-- right-text  -->
  <div class="right-panel">
    <div class="container">
      <h1 class="heading">Welcome</h1>
    </div>
    <h1> to Malaysia's first Augmented Reality based Ecommerce Platform</h1>
  </div>
  <div class="ar-text" data-aos="fade-up" data-aos-duration="2000">
    <h2 class="hero glitch layers " data-text="The Future of AR"><span>The Future of AR</span></h2>
    <!-- <img src="../../../../assets/img/banner/ar.png" alt="ar-logo"> -->
  </div>
  <section id="section10" class="demo">
    <a (click)="scrollDown()" style="cursor: pointer;"><span></span>Scroll</a>
  </section>
</div>
