<p>ar works!</p>



<div class="ar-container">
  <div class="products-slider owl-carousel" data-item="4">
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img
            src="https://i5.walmartimages.com/asr/d9c259ca-bcda-48ab-aab1-b334ce0c6021_1.59243493546490ec8e379b64a36566ef.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=hat">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="">White Bucket Hat</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="5 out of 5 - based on 10 Reviews">
              <span>⭐⭐⭐⭐⭐</span>
            </div>
            <span>(5)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $25.00
          </div>
          <div class="item-old-price">
            $30.00
          </div>
        </div>
      </div>
      <div class="tag new">
        <span>NEW</span>
      </div>
    </div>
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img class="img-fluid" style="height: 255px;" src="../../../../assets/img/models/clown-hat/clown_hat.png"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look
          </a>
          <a class="item-mail" href="javascript:void(0)">Mail</a>
          <a class="item-addwishlist" href="javascript:void(0)">Add to
            Wishlist</a>
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=hat1">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="single-product.html">Clown Hat</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="0 out of 5 - based on 0 Reviews">
              <span style='width:0'></span>
            </div>
            <span>(0)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $39.00
          </div>
          <div class="item-old-price">
            $50.00
          </div>
        </div>
      </div>
    </div>
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img class="img-fluid" style="height: 255px;" src="../../../../assets/img/models/earing/earing.png"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look
          </a>
          <a class="item-mail" href="javascript:void(0)">Mail</a>
          <a class="item-addwishlist" href="javascript:void(0)">Add to
            Wishlist</a>
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=earring">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="single-product.html">Earring</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="0 out of 5 - based on 0 Reviews">
              <span style='width:0'></span>
            </div>
            <span>(0)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $75.00
          </div>
          <div class="item-old-price">
            $85.00
          </div>
        </div>
      </div>
    </div>
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img class="img-fluid" style="height: 255px;" src="../../../../assets/img/models/glasses/glasses.png"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look
          </a>
          <a class="item-mail" href="javascript:void(0)">Mail</a>
          <a class="item-addwishlist" href="javascript:void(0)">Add to
            Wishlist</a>
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=glasses1">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="single-product.html">Swagg Glasses</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="0 out of 5 - based on 0 Reviews">
              <span style='width:0'></span>
            </div>
            <span>(0)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $13.00
          </div>
          <div class="item-old-price">
            $20.00
          </div>
        </div>
      </div>
      <div class="tag new">
        <span>NEW</span>
      </div>
    </div>
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img class="img-fluid" style="height: 255px;" src="../../../../assets/img/models/headphone/headphone.png"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look
          </a>
          <a class="item-mail" href="javascript:void(0)">Mail</a>
          <a class="item-addwishlist" href="javascript:void(0)">Add to
            Wishlist</a>
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=headphone">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="single-product.html">Headphones</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="0 out of 5 - based on 0 Reviews">
              <span style='width:0'></span>
            </div>
            <span>(0)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $125.00
          </div>
          <div class="item-old-price">
            $160.00
          </div>
        </div>
      </div>
      <div class="tag sale">
        <span>SALE</span>
      </div>
    </div>
    <!-- item  -->
    <div class="item">
      <div class="image-container">
        <a class="item-img-wrapper-link" href="single-product.html">
          <img class="img-fluid" style="height: 255px;" src="../../../../assets/img/models/necklace/necklace.png"
            alt="Product">
        </a>
        <div class="item-action-behaviors">
          <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look
          </a>
          <a class="item-mail" href="javascript:void(0)">Mail</a>
          <a class="item-addwishlist" href="javascript:void(0)">Add to
            Wishlist</a>
          <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
          <a class="item-AR" href="threeJSface.html?item=necklace">Virtual
            Fitting</a>
        </div>
      </div>
      <div class="item-content">
        <div class="what-product-is">
          <h6 class="item-title">
            <a href="single-product.html">Necklace</a>
          </h6>
          <div class="item-stars">
            <div class='star' title="0 out of 5 - based on 0 Reviews">
              <span style='width:0'></span>
            </div>
            <span>(0)</span>
          </div>
        </div>
        <div class="price-template">
          <div class="item-new-price">
            $85.00
          </div>
          <div class="item-old-price">
            $90.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
