<app-header-normal></app-header-normal>

<p-toast position="bottom-center" key="a" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="container-fluid dashboardContainer">
  <div class="row">
    <!-- Sidebar navigation -->
    <nav class="col-md-3 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="authService.userData as user">
          <li class="nav-item">
            <div>
              <div class="media">
                <div style="justify-content: center; justify-items: center;">
                  <img class=" align-self-start mr-5 img-thumbnail rounded-circle center"
                    src="{{userImage ? userImage : '/assets/img/account/dummy.png'}}" alt="{{ userName }}" />
                </div>

                <p>{{ userName }}</p>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item" (click)="userAccPage='profile'"> -->
          <li class="nav-item" (click)="slide('profile')">
            <a class="nav-link active">
              <img src="../../../../assets/img/account/user.png" alt="profile">
              Profile
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="slide('cards')">
              <img src="../../../../assets/img/account/credit-card.png" alt="cards">
              Credit/Debit Cards
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="slide('address')">
              <img src="../../../../assets/img/account/address.png" alt="address">
              Addresses
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="slide('password')">
              <img src="../../../../assets/img/account/password.png" alt="password">
              Change Password
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="slide('purchases')">
              <img src="../../../../assets/img/account/checklist.png" alt="purchases">
              My Purchases
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="slide('vouchers')">
              <img src="../../../../assets/img/account/price-tag.png" alt="vouchers">
              My vouchers
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.logout()">
              <img src="../../../../assets/img/account/exit.png" alt="logout">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main" [ngSwitch]="userAccPage">
      <div class="pages">
        <!-- first page: profile page  -->
        <div class="inner-adjust" *ngSwitchCase="'profile'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div>
                <div class="profile-pic">
                  <img class="align-self-start mr-5 img-thumbnail rounded-circle center" src="{{
                    userImage ? userImage : '/assets/img/account/dummy.png'
                  }}" alt="{{ userName }}" />

                  <div class="upload-profile-pic">

                    <label>
                      <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                    </label>
                    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                      Upload
                    </button>
                    <div *ngIf="currentFileUpload" class="progress mt-2">
                      <div class="progress-bar progress-bar-info" role="progressbar"
                        attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{ width: percentage + '%' }">
                        {{ percentage }}%
                      </div>
                    </div>
                  </div>
                </div>

                <div class="media-body">
                  <!-- <div #filled class="userAttr" *ngIf="name else notFilled"> -->
                  <div class="userAttr">
                    <p class="userAttr-title">Name</p>
                    <p> : </p>
                    <!-- <strong>{{person.displayName}}</strong> -->
                    <input #nameInput class="nameInputBox" type="text" id="name" name="name" [(ngModel)]="userName">
                  </div>
                  <span class="userAttr">
                    <p class="userAttr-title">Email</p>
                    <p> : </p>
                    <strong>{{userEmail}}</strong>
                  </span>
                  <span class="userAttr">
                    <p class="userAttr-title">Address</p>
                    <p> : </p>
                    <textarea #locationInput class="locationTextArea" name="location" rows="5" cols="25" wrap="soft"
                      maxlength="100" style="overflow:hidden; resize:none;">{{userAddress}}</textarea>
                  </span>
                </div>
              </div>
              <div>
                <!-- <button type="button" pButton pRipple class="saveBtn" (click)="saveUserData(locationInput.value, nameInput.value)">save</button> -->
                <button type="button" pButton pRipple (click)="showConfirm(locationInput.value, nameInput.value)"
                  label="Confirm" class="ui-button-warning"></button>
              </div>
            </div>
          </div>
        </div>

        <!-- second page: credit/debit cards page  -->
        <div class="inner-adjust" *ngSwitchCase="'cards'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Credit Debit Cards</h1>
          </div>
          <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="openModal(content)" id="addCardBtn"
              [disabled]="numOfCards === 3">Add
              Card</button>
            <p class="max-card-warning">(* Maximum number of cards allowed = 3)</p>
            <!-- modal  -->
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Add card</h4>
                <button type="button" class="btn-close" aria-label="Close"
                  (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <div class="form-body">
                  <!-- Card Number -->
                  <input #cardNum type="text" class="card-number" placeholder="Card Number" maxlength="16"
                    minlength="13" (keyup)="keyup(cardNum.value)">
                  <!-- <div [ngSwitch]="cardNumber">
                    <div *ngSwtichCase="'1'">
                      <div *ngIf="card==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card==='mastercard'">
                        <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                    <div *ngSwtichCase="'2'">
                      <div *ngIf="card1==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card1==='mastercard'">
                        <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                    <div *ngSwtichCase="'3'">
                      <div *ngIf="card2==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card2==='mastercard'">
                        <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                  </div> -->

                  <div *ngIf="unusedID == 1">
                    <div *ngIf="card==='visa'; then visa">
                      -----Visa-----
                      All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                      4444444444444444.

                      -----Mastercard-----
                      MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                      2720. All have 16 digits. For example, 5124123412341244.

                      credit card regex -> https://www.regular-expressions.info/creditcard.html
                    </div>

                    <ng-template #visa>
                      <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                    </ng-template>

                    <div *ngIf="card==='mastercard'">
                      <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                    </div>
                  </div>

                  <div *ngIf="unusedID == 2">
                    <div *ngIf="card1==='visa'; then visa">
                      -----Visa-----
                      All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                      4444444444444444.

                      -----Mastercard-----
                      MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                      2720. All have 16 digits. For example, 5124123412341244.

                      credit card regex -> https://www.regular-expressions.info/creditcard.html
                    </div>

                    <ng-template #visa>
                      <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                    </ng-template>

                    <div *ngIf="card1==='mastercard'">
                      <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                    </div>
                  </div>

                  <div *ngIf="unusedID == 3">
                    <div *ngIf="card2==='visa'; then visa">
                      -----Visa-----
                      All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                      4444444444444444.

                      -----Mastercard-----
                      MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                      2720. All have 16 digits. For example, 5124123412341244.

                      credit card regex -> https://www.regular-expressions.info/creditcard.html
                    </div>

                    <ng-template #visa>
                      <img class="card-logo" src="../../../../assets/img/visa.png" alt="visa">
                    </ng-template>

                    <div *ngIf="card2==='mastercard'">
                      <img class="card-logo" src="../../../../assets/img/mastercard.png" alt="mastercard">
                    </div>
                  </div>


                  <!-- Date Field -->
                  <div class="date-field">
                    <div class="month">
                      <select #month name="Month">
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                      </select>
                    </div>
                    <div class="year">
                      <select #year name="Year">
                        <!-- max 7 years of expiry -->
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <!-- <option value="2023">2023</option>
                        <option value="2024">2024</option> -->
                      </select>
                    </div>
                  </div>

                  <!-- Card Verification Field -->
                  <div class="card-verification">
                    <div class="cvv-input">
                      <input #CVV type="text" placeholder="CVV" maxlength="3" minlength="3">
                      <div class="cvv-details">
                        <p>3 or 4 digits usually found <br> on the signature strip</p>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"
                    (click)="saveCardDetails(cardNum.value, month.value, year.value, CVV.value)">{{savedStatus}}</button>
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')"
                    id="closeBtn">Close</button>
                </div>
              </div>
            </ng-template>

            <!-- credit card UI  -->
            <section>
              <!-- card #1 -->
              <div class="card" *ngIf="ID1" id="1">
                <div class="card-content">
                  <div>
                    <img class="chip" src="../../../../assets/img/chip.png" alt="chip">
                    <button class="deleteBtn" (click)="deleteCard('1')">
                      <span class="material-icons">delete</span>
                    </button>
                  </div>

                  <div class="lower-card">
                    <label>Card Number</label>
                    <div style="display: flex;">
                      <div *ngFor="let num of cardNum">
                        <p class="card-number-4">{{num}}&nbsp; &nbsp; &nbsp;</p>
                      </div>
                    </div>

                    <div class="third-row-card">
                      <div class="exp exp-month">
                        <label>Exp. Mth</label>
                        <p>{{cardExpMonth}}</p>
                      </div>
                      <div class="exp exp-year">
                        <label>Exp. Year</label>
                        <p>{{cardExpYear}}</p>
                      </div>
                      <div class="exp cvv">
                        <label>CVV</label>
                        <p>{{cardCVV}}</p>
                      </div>
                    </div>
                    <div>
                      <div *ngIf="card==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-type" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card==='mastercard'">
                        <img class="card-type" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- card #2 -->
              <div class="card" *ngIf="ID2" id="2">
                <div class="card-content">
                  <div>
                    <img class="chip" src="../../../../assets/img/chip.png" alt="chip">
                    <button class="deleteBtn" (click)="deleteCard('2')">
                      <span class="material-icons">delete</span>
                    </button>
                  </div>
                  <div class="lower-card">
                    <label>Card Number</label>
                    <div style="display: flex;">
                      <div *ngFor="let num1 of cardNum1">
                        <p class="card-number-4">{{num1}}&nbsp; &nbsp; &nbsp;</p>
                      </div>
                    </div>

                    <div class="third-row-card">
                      <div class="exp exp-month">
                        <label>Exp. Mth</label>
                        <p>{{cardExpMonth1}}</p>
                      </div>
                      <div class="exp exp-year">
                        <label>Exp. Year</label>
                        <p>{{cardExpYear1}}</p>
                      </div>
                      <div class="exp cvv">
                        <label>CVV</label>
                        <p>{{cardCVV1}}</p>
                      </div>
                    </div>
                    <div>
                      <div *ngIf="card1==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-type" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card1==='mastercard'">
                        <img class="card-type" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card #3 -->
              <div class="card" *ngIf="ID3" id="3">
                <div class="card-content">
                  <div>
                    <img class="chip" src="../../../../assets/img/chip.png" alt="chip">
                    <button class="deleteBtn" (click)="deleteCard('3')">
                      <span class="material-icons">delete</span>
                    </button>
                  </div>
                  <div class="lower-card">
                    <label>Card Number</label>
                    <div style="display: flex;">
                      <div *ngFor="let num2 of cardNum2">
                        <p class="card-number-4">{{num2}}&nbsp; &nbsp; &nbsp;</p>
                      </div>
                    </div>

                    <div class="third-row-card">
                      <div class="exp exp-month">
                        <label>Exp. Mth</label>
                        <p>{{cardExpMonth2}}</p>
                      </div>
                      <div class="exp exp-year">
                        <label>Exp. Year</label>
                        <p>{{cardExpYear2}}</p>
                      </div>
                      <div class="exp cvv">
                        <label>CVV</label>
                        <p>{{cardCVV2}}</p>
                      </div>
                    </div>
                    <div>
                      <div *ngIf="card2==='visa'; then visa">
                        -----Visa-----
                        All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13. For example,
                        4444444444444444.

                        -----Mastercard-----
                        MasterCard numbers either start with the numbers 51 through 55 or with the numbers 2221 through
                        2720. All have 16 digits. For example, 5124123412341244.

                        credit card regex -> https://www.regular-expressions.info/creditcard.html
                      </div>

                      <ng-template #visa>
                        <img class="card-type" src="../../../../assets/img/visa.png" alt="visa">
                      </ng-template>

                      <div *ngIf="card2==='mastercard'">
                        <img class="card-type" src="../../../../assets/img/mastercard.png" alt="mastercard">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

        <!-- third page: addresses page  -->
        <div class="inner-adjust" *ngSwitchCase="'address'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{addressHeaderStatus}}</h1>
          </div>
          <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="addAddress()">Add address</button>

            <!-- add address  -->
            <div [hidden]="addAddressStatus">
              <div style="display: flex; justify-content: center; align-items: center; margin: 10px 0 15px 10px;">
                <p style="margin-right: 10px;">Address: </p>
                <textarea #address class="addressTextArea" name="address" rows="5" cols="25" wrap="soft" maxlength="100"
                  style="overflow:hidden; resize:none;" id="textAreaAddress">{{addressTextArea}}</textarea>
              </div>
              <div style="float: left;">
                <button class="btn btn-outline-secondary mb-2 me-2" (click)="backFromAddAddress()">back</button>
                <button class="btn btn-success mb-2 me-2" (click)="saveAddress(address.value)">save</button>
              </div>
            </div>

            <!-- edit address  -->
            <div [hidden]="editAddressStatus">
              <div style="display: flex; justify-content: center; align-items: center; margin: 10px 0 15px 10px;">
                <p style="margin-right: 10px;">Address: </p>
                <textarea #addressUpdate class="addressTextArea" name="address" rows="5" cols="25" wrap="soft"
                  maxlength="100" style="overflow:hidden; resize:none;"
                  id="textAreaAddress">{{selectedAddress}}</textarea>
              </div>
              <div style="float: left;">
                <button class="btn btn-outline-secondary mb-2 me-2" (click)="backFromAddAddress()">back</button>
                <button class="btn btn-success mb-2 me-2" (click)="updateAddress(addressUpdate.value)">save</button>
              </div>
            </div>

            <!-- display list of addresses -->
            <div class="addressContainer" *ngFor="let address of allAddresses; let i = index" [hidden]="addressList">
              <p>Address {{i+1}} : {{address.address}}</p>
              <div class="addressBtn">
                <button class="btn btn-secondary mb-2 me-2" (click)="editAddress(i)">Edit</button>
                <button class="btn btn-danger mb-2 me-2" (click)="deleteAddress(i)">Delete</button>
              </div>
            </div>


          </div>
        </div>

        <!-- fourth page: chg pw page  -->
        <div class="inner-adjust" *ngSwitchCase="'password'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Password</h1>
          </div>
          <div [hidden]="!hideVerifiedOldPW">
            <div>
              <p>Enter old password :</p>
              <input #oldPassword class="oldPwd" type="text" id="oldPwd" name="oldPwd">
            </div>
            <p [hidden]="hidePWError">Incorrect attempts (max 3) : {{errorCount}}</p>
            <div [hidden]="hideTimer">Time left = <span id="timer"></span></div>
            <button (click)="checkOldPwd(oldPassword.value)">OK</button>
          </div>
          <div [hidden]="hideVerifiedOldPW">
            <div class="chgPwdContainer">
              <!-- <p>Change password: </p>
              <input #changePassword class="chgPwd" type="text" id="chgPassword" name="chgPwd" [(ngModel)]="currentUser.userPassword"> -->
              <!-- <button (click)="authService.forgotPassword(currentUser.userEmail)">Click to change password</button> -->
            </div>
            <!-- <button (click)="updatePassword(changePassword.value)">Update password</button> -->
            <button (click)="authService.forgotPassword(currentUser.userEmail)">Click to change password</button>
          </div>
        </div>

        <!-- fifth page: my purchases page  -->
        <div class="inner-adjust" *ngSwitchCase="'purchases'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Purchases</h1>
          </div>
        </div>

        <!-- sixth page: my vouchers page  -->
        <div class="inner-adjust" *ngSwitchCase="'vouchers'">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Vouchers</h1>
          </div>
          <div *ngFor="let v of vouchers; let i = index" class="voucherMain">
            <p *ngIf="v.cashback != 0">{{v.cashback}}</p>
            <p *ngIf="v.discount != 0">{{v.discount}}</p>
            <p *ngIf="v.freeShipping">{{v.freeShipping}}</p>
            <p>{{v.title}}</p>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>
