<div class="category">
  <div class="category-header">
    <h1>Categories</h1>
    <p></p>
  </div>
  <ul class="category-list">
    <li>
      <div class="category-item">
        <img src="../../../../assets/img/categories/phone.png" alt="phone">
        <p>Mobile & Accessories</p>
      </div>
    </li>
    <li>
      <div class="category-item">
        <img src="../../../../assets/img/categories/watch.png" alt="watch">
        <p>Watches</p>
      </div>
    </li>
    <li>
      <div class="category-item">
        <img src="../../../../assets/img/categories/shoe.png" alt="shoe">
        <p>Shoes</p>
      </div>
    </li>
    <li>
      <div class="category-item">
        <img src="../../../../assets/img/categories/fashion.png" alt="fashion">
        <p>Fashion</p>
      </div>
    </li>
    <li>
      <div class="category-item">
        <img src="../../../../assets/img/categories/computer.png" alt="computer">
        <p>Computer & Accessories</p>
      </div>
    </li>
    <li>
      <div class="category-more" (click)="goToMore()">
        <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="loop-on-hover" style="width:32px;height:32px" >
        </lord-icon>
        <p>More</p>
      </div>
    </li>
  </ul>
</div>
