<app-header-normal></app-header-normal>

<p-toast key="normal"></p-toast>

<div style="display: flex; justify-content: center; margin-top: 25px">
  <div class="step">

    <div class="step-element">
      <!-- step 1 -->
      <div class="step-circle-circles">
        <div class="step-circle active" id="productsOrdered">
          <p>1</p>
        </div>
      </div>
      <p class="caption active" id="productsOrderedCaption">Products Ordered</p>
    </div>
    <!-- horizontal line -->
    <div class="hori-container">
      <div class="horizontal-line"></div>
    </div>

    <div class="step-element">
      <!-- step 2 -->
      <div class="step-circle-circles">
        <div class="step-circle" id="receiversInfo">
          <p>2</p>
        </div>
      </div>
      <div class="caption" id="receiversInfoCaption">Receiver's Information</div>
    </div>
    <!-- horizontal line -->
    <div class="hori-container">
      <div class="horizontal-line"></div>
    </div>
    <div class="step-element">
      <!-- step 3 -->
      <div class="step-circle-circles">
        <div class="step-circle" id="paymentMtd">
          <p>3</p>
        </div>
      </div>
      <p class="caption" id="paymentMtdCaption">Payment Method</p>
    </div>
    <!-- horizontal line -->
    <div class="hori-container">
      <div class="horizontal-line"></div>
    </div>
    <div class="step-element">
      <!-- step 4 -->
      <div class="step-circle-circles">
        <div class="step-circle" id="confirmation">
          <p>4</p>
        </div>
      </div>
      <p class="caption" id="confirmationCaption">Confirmation</p>
    </div>
  </div>
</div>

<div [ngSwitch]="step">
  <!-- 1 - products ordered  -->
  <main class="step-container">
    <div *ngSwitchCase="'1'" class="step-case">
      <div class="products-ordered-header">
        <h4>Products Ordered</h4>
      </div>
      <div class="products-ordered-table">
        <table class="table">
          <thead class="table-header">
            <tr>
              <th>
              </th>
              <th class="product-header">Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of items; let i=index">
            <tr class="product-row">
              <th>
              </th>
              <td class="item-product">
                <div>
                  <img class="cart-img" src="{{item.placeholderImg}}" alt="">
                  {{item.title}} -
                  {{item.variations}}
                </div>

              </td>
              <td>RM {{item.discountedPrice}} <span class="old-price">{{item.oldPrice}}</span></td>
              <td>
                <div class="quantity">
                  <span>{{item.quantity}}</span>
                </div>
              </td>
              <td class="total-price">RM {{item.totalPrice}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="right-panel">

        <!-- <div class="voucher-cart-container">
          <div class="select-voucher">
            <h6>Vouchers Selected</h6>
            <p>No Vouchers Selected</p>
          </div>

          <div class="selectedVouchers">
          </div>
        </div> -->

        <div class="delivery">
          <p>Delivery fee: <strong>RM 5</strong></p>
        </div>

        <div class="total">
          <p>Total ({{itemCount}} items) : </p>
          <p class="totalText"> &nbsp; RM {{total}}</p>
        </div>

      </div>
    </div>
  </main>

  <!-- 2 - receiver's information  -->
  <main class="step-container">
    <div class="secondContainer">
      <div *ngSwitchCase="'2'" class="step-case">
        <div class="receivers-information-header">
          <h4>Receiver's Information</h4>
        </div>
        <div>
          <div class="receiver-info">
            <div class="information-field">
              <p class="information-label header">Receiver's name *: </p>
              <input #changeReceiverName class="input chgReceiverName" type="text" id="chgReceiverName"
                name="chgReceiverName" [(ngModel)]="userName">
            </div>
            <div style="margin-bottom: 15px;">
              <div style="display: flex;">
                <p class="information-label header">Receiver's phone number *: </p>
                <input #userHP class="input userHP" type="tel" id="userHP" name="userHP" [(ngModel)]="phoneNumber"
                  pattern="^(\+?6?01)[0-46-9]-*[0-9]{7,8}$" (keyup)="keyup(userHP.value)" required>
              </div>
              <p class="error" [hidden]="invalidHP">Invalid phone number!</p>
              <p class="sub-header">Format: 011-11111111 / 01111111111</p>
            </div>
            <div>

              <div class="information-field">
                <p class="header">Receiver's address *: </p>
                <!-- <input class="input userAddress" type="text" id="" name="userAddress" [(ngModel)]="userAddress" required> -->
                <textarea #address class="locationTextArea" name="location" rows="5" cols="25" wrap="soft"
                  maxlength="100" style="overflow:hidden; resize:none;" [(ngModel)]="userAddress" required></textarea>
                <!-- <p class="input">{{userAddress}}</p> -->
              </div>



              <!-- <p-button [label]="'change'" icon="pi pi-search" (click)="op.toggle($event); changeAddress()"></p-button> -->
              <p class="changeAddress" (click)="op.toggle($event); changeAddress()">Change Address</p>
            </div>
          </div>
        </div>
        <!-- <button (click)="saveInfo()">Save Information</button> -->
      </div>
    </div>
  </main>

  <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
    <ng-template pTemplate>
      <p-table [value]="allAddress" selectionMode="single" [(selection)]="selectedAddress"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="addIndex">Address Index<p-sortIcon field="addIndex"></p-sortIcon>
            </th>
            <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-allAddress>
          <tr [pSelectableRow]="rowData">
            <td>Address {{allAddress.id}}</td>
            <td>{{allAddress.address}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-overlayPanel>

  <!-- 3 - payment method  -->
  <main class="step-container">
    <div *ngSwitchCase="'3'" class="step-case">
      <div class="payment-method-header">
        <h4>Payment Method</h4>
      </div>
      <div>

        <div class="select-payment-method">
          <div class="merc-credit" (click)="credit()">
            <h4>MERC Credit</h4>
            <p>Bal: RM {{userBal}}</p>
            <img src="../../../assets/img/tick.png" alt="tick" class="selectedPaymentMethod" [hidden]="visibleCredit">
          </div>
          <div>
            <div class="credit-debit" (click)="creditDebit()">
              <h4>Credit/Debit card</h4>
              <img src="../../../assets/img/tick.png" alt="tick" class="selectedPaymentMethod" [hidden]="visibleCD">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- 4 - confirmation  -->
  <main class="step-container">
    <div *ngSwitchCase="'4'">
      <div class="confirmation-header">
        <h4>Confirmation</h4>
      </div>

      <!-- products ordered  -->
      <div class="products-ordered-table">
        <table class="table">
          <thead class="table-header">
            <tr>
              <th>
              </th>
              <th class="product-header">Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of items; let i=index">
            <tr class="product-row">
              <th>
              </th>
              <td class="item-product">
                <div>
                  <img class="cart-img" src="{{item.placeholderImg}}" alt="">
                  {{item.title}} -
                  {{item.variations}}
                </div>

              </td>
              <td>RM {{item.discountedPrice}} <span class="old-price">{{item.oldPrice}}</span></td>
              <td>
                <div class="quantity">
                  <span>{{item.quantity}}</span>
                </div>
              </td>
              <td class="total-price">RM {{item.totalPrice}} </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <!-- receiver's info  -->
      <div>
        <div>
          <p>Receiver's name: {{userName}}</p>
        </div>
        <div>
          <p>Receiver's phone number: 0{{phoneNumber}}</p>
        </div>
        <div>
          <p>Receiver's address: {{userAddress}}</p>
        </div>
      </div>

      <hr>

      <!-- payment method, vouchers, total  -->
      <div>
        <div>
          <p>Payment method: {{paymentMethod}}</p>
        </div>

        <!-- <div class="voucher-cart-container">
          <div class="select-voucher">
            <h6>Vouchers Selected</h6>
            <p>No Vouchers Selected</p>
          </div>

          <div class="selectedVouchers">
          </div>
        </div> -->

        <div class="delivery">
          <p>Delivery fee: <strong>RM 5</strong></p>
        </div>

        <div class="total">
          <p>Total ({{itemCount}} items) : </p>
          <p class="totalText"> &nbsp; RM {{total}}</p>
        </div>

      </div>

    </div>
  </main>

  <!-- 5 - success/fail  -->
  <main class="step-container">
    <div *ngSwitchCase="'5'">
      <div class="confirmation-header">
        <img src="../../../assets/gif/loader.gif" alt="loader" [hidden]="loaderVisibility">
        <h4 [hidden]="successMsg">Success! Your order has been placed.</h4>
        <h4 [hidden]="failMsg">An error has occured. Please try again.</h4>
      </div>
    </div>
  </main>

</div>

<div class="footer-btn">
  <div>
    <button class="cancel-btn" (click)="cancelCheckout()" id="cancel">Cancel</button>
    <button class="next-btn" (click)="nextStep()" id="next">Next</button>
    <!-- <button (click)="initializePayment(10)">$10</button> -->
  </div>

</div>
