<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<!-- <nav>
  <h2>MERC</h2>
  <lord-icon
    src="https://cdn.lordicon.com/njjuilvq.json"
    trigger="loop-on-hover"
    colors="primary:#f6f6f6"
    style="width:32px;height:32px; cursor: pointer;"
    (click)="goToFAQ()">
</lord-icon>
</nav> -->

<!-- <ng-template #loggedIn> -->
<nav>
  <h2 #target (click)="goToHome()">MERC</h2>
  <ul class="nav-items" style="display: flex;">
    <div class="middle-nav">
      <!-- search bar  -->
      <!-- <app-search></app-search> -->

      <!-- categories  -->
      <!-- <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li> -->

      <!-- FAQ  -->
      <li style="margin-top: 5px;">
        <a routerLink="/contact" routerLinkActive="active">FAQ</a>
      </li>
    </div>


    <!-- Notifications  -->
    <li>
      <lord-icon src="https://cdn.lordicon.com/ndydpcaq.json" trigger="loop-on-hover" colors="primary:#f6f6f6"
        style="width:32px;height:32px;cursor:pointer;">
      </lord-icon>
    </li>

    <!-- Messages  -->
    <li>
      <a>
        <lord-icon src="https://cdn.lordicon.com/uvextprq.json" trigger="loop-on-hover" colors="primary:#f6f6f6"
          style="width:32px;height:32px;cursor:pointer;">
        </lord-icon>
      </a>
    </li>

    <!-- Cart  -->
    <li>
      <lord-icon class="cart-icon" src="https://cdn.lordicon.com/aoggitwj.json" trigger="loop-on-hover"
        colors="primary:#f6f6f6" style="width:32px;height:32px;cursor:pointer;" (click)="openModal(content)">
      </lord-icon>

    </li>

    <style>
      .p-overlaypanel .p-overlaypanel-close {
        margin: 20px 20px 0 0;
      }

    </style>

    <p-toast></p-toast>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Cart</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of items; let i = index" class="cart-items">
          <div>
            <img src="{{item.placeholderImg}}" alt="itemImg">
          </div>
          <div class="item-title">{{item.title}}</div>
          <div>{{item.quantity}}</div>
          <div>{{item.totalPrice}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
        <a routerLink="/cart" (click)="modal.close('Close click')">View My Shopping Cart</a>
      </div>
    </ng-template>

    <!-- Account -->
    <li>
      <a routerLink="/user-profile">
        <!-- <span class="material-symbols-outlined">
          account_circle
        </span> -->
        <lord-icon src="https://cdn.lordicon.com/dklbhvrt.json" trigger="loop-on-hover" colors="primary:#f6f6f6"
          style="width:32px;height:32px;cursor:pointer;">
        </lord-icon>
      </a>
    </li>

    <!-- Log out -->
    <li>
      <a (click)="auth.logout()">
        <!-- <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_tz2unaru.json"  background="transparent"  speed="1"  style="width: 32px; height: 32px;cursor:pointer;" hover loop  ></lottie-player> -->
        <span class="material-symbols-outlined" style="margin: 0px; cursor: pointer;">
          logout
        </span>
      </a>
    </li>

  </ul>
</nav>
<!-- </ng-template> -->
