nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #005DE8;

  h2 {
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
    margin: 0;
  }
}

.nav-items {
  list-style-type: none;
  margin: 0;

  li {
    margin: 0 8px 0 8px;
  }
}

.middle-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  float: center;

  li {
    margin: 10px 10px 0 10px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}


.material-symbols-outlined {
  overflow-y: hidden;
  color: white;
  font-size: 30px;
  margin: 5px 10px 0 10px;
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

/* 
    Extra small devices (phones, 600px and down) 
  */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }

  nav li {
    padding: 0.5rem 0;
  }
}

.cart-img {
  width: 100px;
}

.cart-dets-container {
  display: flex;
  margin: 15px;
}

.cart-dets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;


}

.shoppingCart {
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: #1f1f1f;

    &:hover {
      color: #005DE8;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }

}

.oldPrice {
  text-decoration: line-through;
  color: #ccc;
}

.discountedPrice {
  color: #005DE8;
  font-size: larger;
  font-weight: 600;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  text-align: center;

  img {
    width: 100px;
  }

  div{
    margin: auto;
  }
}

.item-title{
  width: 150px;
}
