<!-- <style>
  ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
  }

  ngb-carousel img {
    width: 100%;
    outline: none;
  }

  ngb-carousel {
    width: inherit;
    height: inherit;
  }

  .carousel-inner {
    overflow: visible;
  }

  .carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
  }

  .carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  .carousel-control-prev {
    z-index: 20;
  }

  .carousel-control-next {
    z-index: 20;
  }

  .carousel-indicators {
    z-index: 20;
  }

</style>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/discountedProducts/addidas-shoes/blue.png" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/discountedProducts/addidas-shoes/pink.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- <style>
  .slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }

  body .slick-prev,
  body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
  }

</style>

<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" style="width: 88%;
  margin: auto;
  background: rgb(14, 13, 13);">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%">
  </div>
</ngx-slick-carousel>
<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->


<!-- <div *ngFor="let data of movies.movieCollection">
  <mat-checkbox>
    {{data.name}}
  </mat-checkbox>
</div>

<button (click)="showResults()">Button</button>

<div *ngFor="let movies of moviesList">

  <p>{{movies.name}}</p>
  <p>{{movies.selected}}</p>
  <p>{{movies.disabled}}</p>
</div> -->


<!-- <section class="example-section" [formGroup]="toppings">
  <h4>Select your toppings:</h4>
  <p>
    <mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox>
  </p>
  <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
</section>

<section class="example-section" [formGroup]="toppings">
  <h4>You chose:</h4>
  {{toppings.value | json}}

</section>

<section [formGroup]="test">
  {{test.value | json}}
</section>

{{checked}}

<mat-checkbox class="example-margin" [(ngModel)]="checked" [(indeterminate)]="indeterminate">
  I'm a checkbox
</mat-checkbox> -->

<!-- <div class="card">
  <p-toast></p-toast>
  <p-steps [model]="items" [readonly]="true"></p-steps>
</div>
<router-outlet></router-outlet> -->



<h2>Angular Stripe Checkout Example</h2>

<button (click)="makePayment(15)">Pay With Stripe</button>

<div *ngIf="success">
  <h1>Your Payment is complete successfully</h1>
</div>
<div *ngIf="failure">
  <h1>Some Error is taken place inside the payment</h1>
</div>
