/* You can add global styles to this file, and also import other style files */
@import './resets';
@import './variables';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@coreui/coreui-pro/scss/coreui";

*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track
{
	border: 5px solid white;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #b2bec3;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}

/* Handle */
::-webkit-scrollbar-thumb
{
	background-color: #666;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

.cursor{
	position: fixed;
	z-index: 1000;
	transform: translate(-12px, -12px);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 3px solid #e4e1e2;
	user-select: none;
	transition: 0.6s transform ease-in-out;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
