<app-header-normal></app-header-normal>

<!-- ngb modal for shoe size chart -->
<ng-template #content let-modal style="background-color: #5cb3fd;">
  <div class="modal-header">
    <h4 class="modal-title">Shoe Size Chart</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <p>One fine body&hellip;</p> -->
    <img class="size-chart-img" src="../../../../assets/img/productDetails/sizeChart.png" alt="size-chart">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- loading component  -->
<div id="loader">
  <style>
    .application-loading-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .application-loading-box {
      width: 300px;
      margin: 5px;
      text-align: center;
    }

  </style>
  <div class="application-loading-container">
    <div class="application-loading-box">
      <h2>Loading...</h2>
    </div>
  </div>
</div>

<div id="loader" style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;" *ngIf="loaderr">
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<!-- <div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div> -->



<div class="container product-details-container" *ngIf="!loaderr">
  <div class="row-container">
    <div class="imgContainer">
      <img class="activeImg" [ngClass]="mainImg" alt="activeImg" src="../../../../assets/img/{{productImg1}}" />
      <img class="activeImg" [ngClass]="subImg0" alt="activeImg" src="../../../../assets/img/{{productImg2}}" />
      <img class="activeImg" [ngClass]="subImg1" alt="activeImg" src="../../../../assets/img/{{productImg3}}" />
      <br />
      <div class="subImages">
        <div class="subImages-container">
          <img class="subImages-img" [ngClass]="mainImg" alt="firstImg" src="../../../../assets/img/{{productImg1}}"
            (click)="changeColor(product.color0)" />
        </div>
        <div class="subImages-container">
          <img class="subImages-img" [ngClass]="subImg0" alt="secondImg" src="../../../../assets/img/{{productImg2}}"
            (click)="changeColor(product.color1)" />
        </div>
        <div class="subImages-container">
          <img class="subImages-img" [ngClass]="subImg1" alt="thirdImg" src="../../../../assets/img/{{productImg3}}"
            (click)="changeColor(product.color2)" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title">
        <h2>{{productName}}</h2>
        <img *ngIf="productType == 'discounted'" src="../../../../assets/img/productDetails/discount.png"
          alt="discount-logo">
          <p>({{sold}} sold)</p>
      </div>

      <br />
      <p class="description">{{productDescription}}</p>
      <br>
      <div class="price-guarantee">
        <div class="price">
          <h2> RM {{discountedPrice}}</h2>
          <p> RM {{oldPrice}}</p>

        </div>
        <div class="authentic-guarantee">
          <div class="guarantee">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24"
              height="24" class="NM0h58">
              <defs>
                <style>
                  .cls-1 {
                    fill: #005DE8;
                  }

                  .cls-2 {
                    fill: #fff;
                  }

                </style>
              </defs>
              <path class="cls-1 orignal-guarantee-icon__path--fill"
                d="M28.65,16.92V4.73S19,4.46,15.94,0C12.45,4.41,3.23,4.73,3.23,4.73V16.92S3,27.22,15.94,32C28.9,27.22,28.65,16.92,28.65,16.92Z">
              </path>
              <path class="cls-2"
                d="M25.56,13.67,15.26,24a.68.68,0,0,1-1,0L8.33,18a.68.68,0,0,1,0-1l1.55-1.55a.68.68,0,0,1,1,0l3.44,3.43a.68.68,0,0,0,1,0L23,11.15a.68.68,0,0,1,1,0l1.55,1.54A.69.69,0,0,1,25.56,13.67Z">
              </path>
              <path class="cls-2"
                d="M25.56,13.67,15.26,24a.68.68,0,0,1-1,0L8.33,18a.68.68,0,0,1,0-1l1.55-1.55a.68.68,0,0,1,1,0l3.44,3.43a.68.68,0,0,0,1,0L23,11.15a.68.68,0,0,1,1,0l1.55,1.54A.69.69,0,0,1,25.56,13.67Z">
              </path>
            </svg>
            <p>100% Authentic Guarantee</p>
          </div>
          <div class="guarantee-last">Guarantee Authentic or Money Back</div>
        </div>

      </div>
      <br />

      <div [ngSwitch]="productId">
        <div *ngSwitchCase="'1000'" class="container-size-container">
          <div class="size-container">
            <h5 class="sizes">Sizes: </h5>
            <span>UK 7</span>
            <span>UK 7.5</span>
            <span>UK 8</span>
            <span>UK 8.5</span>
            <span>UK 9</span>
            <span>UK 9.5</span>
          </div>
          <a (click)="openBackDropCustomClass(content)" class="size-chart-link">Size chart</a>
        </div>
        <!-- configure based on id, diff products diff options  -->
        <!-- <div *ngSwitchCase="'1001'">
        </div> -->

        <div *ngSwitchCase="'1002'" class="container-size-container">
          <div class="size-container">
            <h5 class="sizes">Sizes: </h5>
            <span (click)="changeSpecs()">128 GB | 8 GB</span>
            <span>256 GB | 12 GB</span>
            <span>512 GB | 12 GB</span>
          </div>
        </div>

      </div>

      <div class="color-container">
        <h5 class="colors">Colors:</h5>
        <div class="circles">
          <span [ngClass]="MainColor" id="mainColor" (click)="changeColor(color0)"></span>
          <span [ngClass]="SubColor0" id="subColor0" (click)="changeColor(color1)"></span>
          <span [ngClass]="SubColor1" id="subColor1" (click)="changeColor(color2)"></span>
        </div>
      </div>
      <br />
      <button type="button" class="add-to-cart-btn button"><i class="fa-solid fa-cart-shopping"></i> Add To
        Cart</button>
      <button type="button" class="btn btn-primary-color button">Buy Now</button>
    </div>
  </div>
</div>



<!-- using primeng gallery component  -->
<app-product-details-gallery [activeImage]="activeImg" (imgChanged)="activeImg=$event"></app-product-details-gallery>

<app-product-details-accordion></app-product-details-accordion>

<app-rating [productId]="productId"></app-rating>

<app-similar-products></app-similar-products>

<app-footer></app-footer>
