@import '../../../../mixins';
@import '../../../../variables';

$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

.product-details-container {
  margin-top: 20px;
}

.activeImg {
  position: absolute;
  max-width: 350px;
  //   margin-left: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.activeImg.active {
  opacity: 1;
}

.row-container {
  display: flex;
  justify-content: space-between;
  border: solid 1px #808080;
  padding: 15px;
}

.imgContainer {
  position: relative;
}

.subImages {
  display: flex;
  margin-top: 100%;

  img {
    max-width: 100px;
    cursor: pointer;
    border: 1px solid #ccc;

    &:hover {
      box-shadow: 0px 0px 15px 1px rgba(0, 93, 232, 0.75);
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 93, 232, 0.75);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 93, 232, 0.75);
      border: solid 1px #ADD8E6;
    }
  }

  #{&}-container {
    // border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;

    .active {
      border: solid 1px $primary-color;
    }
  }
}

// title/header
.title {
  display: flex;

  img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }

  p {
    margin: 5px 0 0 5px;
  }
}

.description {
  text-align: justify;
  @include nonePadMar;
}

.price-guarantee {}

// price
.price {
  display: flex;

  h2 {
    color: $bright-red;
  }

  p {
    padding: 10px 0 0 5px;
    text-decoration: line-through;
  }

}

.authentic-guarantee {
  background-color: rgba(0, 93, 232, 0.1);
  max-width: 52%;
  padding: 10px 5px 5px 8px;
}

// guarantee
.guarantee {
  display: flex;

  p {
    color: rgb(0, 93, 232);
    margin-left: 5px;
  }
}

.guarantee-last {
  font-size: 12px;
}

// sizes
.container-size-container {
  margin-bottom: 20px;
}

.size-container {
  display: flex;

  span {
    // width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 5px 0 5px;
    cursor: pointer;

    &:hover {
      @include boxShadowGrey;
    }
  }
}

.sizes {
  color: rgb(99, 99, 99);
  padding: 5px 5px 0 0;
}

.size-chart-link {
  text-decoration: underline;
  cursor: pointer;
  font-size: smaller;
}

.size-chart-img {
  width: 450px;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.color-container {
  display: flex;
}

.colors {
  @extend .sizes;
}

.circles {
  display: flex;
  padding-top: 10px;

  .circle {
    height: 18px;
    width: 18px;
    // background: #0071C7;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
}

// color options for product 1000 
.circle.blue {
  background: #0071C7;
}

.circle.blue.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #0071C7;
}

.circle.pink {
  background: #FA1795;
}

.circle.pink.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #FA1795;
}

.circle.yellow {
  background: #F5DA00;
}

.circle.yellow.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #F5DA00;
}

// color options for product 1001
.circle.black {
  background: $soft-black;
}

.circle.black.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px $soft-black;
}

.circle.white {
  // background: #ccc;
  border: 1px solid #ccc;
}

.circle.white.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #ccc;
  // border: 1px solid #ccc;

}

// color options for product 1002
.circle.burgundy {
  background: $burgundy;
}

.circle.burgundy.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px $burgundy;
}

.circle.green {
  background: $dark-green;
}

.circle.green.active {
  box-shadow: 0 0 0 2px #fff,
    0 0 0 4px $dark-green;
}

.add-to-cart-btn {
  border-color: #0d6efd;
  color: #0d6efd;
  background-color: #f6f6f6;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 15px;

  &:hover {
    background-color: rgba(13, 110, 253, 0.2);
  }
}

.button {
  height: 48px;
  padding: 0 20px;
  font-weight: 600;
}

.qty-input {
  color: $black;
  background: $white;
  display: flex;
  align-items: center;
  overflow: hidden;

  p {
    margin: 0;
    padding-top: 10px;
  }

  .product-qty,
  .qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: 0px solid #ccc;
    display: inline-block;
    min-width: 0;
    height: 2.5rem;
    line-height: 1;
  }

  &:focus {
    outline: none;
  }
}

.product-qty {
  width: 50px;
  min-width: 0;
  display: inline-block;
  text-align: center;
  appearance: textfield;

  border-top: 1px solid $primary-color !important;
  border-bottom: 1px solid $primary-color !important;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.qty-count {
  padding: 0;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.25em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
  border: 1px solid $primary-color !important;

  &:hover {
    color: whitesmoke;
    background-color: $primary-color;
  }

  &:before,
  &:after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background: $black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  // &--minus {
  //   border-right: 1px solid $primary-color;
  // }
  // &--add {
  //   border-left: 1px solid $primary-color;
  //   &:after {
  //     transform: rotate(90deg);
  //   }
  // }

  &--add:after {
    transform: rotate(90deg);
  }

  &:disabled {
    color: $gray;
    background: $disable;
    cursor: not-allowed;
    border-color: transparent;

    &:before,
    &:after {
      background: $gray;
    }
  }
}

.quantity {
  color: rgb(99, 99, 99);
  margin-right: 10px;
  padding-top: 10px;
}

.toast>* {
  cursor: pointer;
}

.toastStyle {
  background-color: rgba(204, 255, 255, 1);

  color: darkgreen;
}

.toastHeader {
  background-color: green;
  color: whitesmoke;

}
